<ul id="genres">
  <% @genres.each do |genre| %>
    <li>
      <article class="genre">
			<%= link_to genre.name, edit_genre_path(genre) %>
        <footer>
        </footer>
      </article>
    </li>
    <% if genre.movies.any? %>
      <%= genre.movies.map { |m| m.title } %>
    <% end %>
  <% end %>
</ul>

<%= link_to 'New Genre', new_genre_path, class: 'button' %>


